@import "tailwindcss";
@import "@navikt/ds-css" layer(components);

@layer components {
  .page-surface {
    padding: var(--ax-space-16);
    padding-bottom: var(--ax-space-32);
  }

  .page-surface__main {
    background-color: var(--ax-bg-raised);
    border: 1px solid var(--ax-border-neutral-subtleA);
    border-radius: var(--ax-radius-12);
    padding-block: var(--ax-space-20);
    max-width: 48rem;
  }
}

.uxsignals-embed .uxsignals-cta:hover {
  background-color: #3b82f6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

div.uxsignals-container {
  background-color: lightyellow;
}
